.messages__window {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   width: 500px;
   min-width: 300px;
   height: 400px;
   min-height: 200px;
   border: 2px solid rgb(100, 100, 100);
   border-radius: 10px 10px 0;
   padding: 15px 3px 3px 3px;
   position: fixed;
}

.messages__drag-block {
   display: flex;
   justify-content: center;
   position: absolute;
   top: -50px;
   font-size: 50px;
   cursor: grab;
   width: inherit;
   height: 15px;
}

.messages__inner-block {
   box-sizing: border-box;
   border: 1px solid rgb(50, 50, 50);
   border-radius: 10px 10px 30px;
   height: 100%;
   width: 100%;
   position: relative;
}

.messages__close-window {
   position: absolute;
   top: -20px;
   right: 2px;
   cursor: pointer;
}

.messages__resize {
   position: absolute;
   right: -1px;
   bottom: -1px;
   cursor: nwse-resize;
   height: 17px;
   width: 17px;
   background-color: gray;
   border: 1px solid gray;
   display: block;
   clip-path: polygon(100% 0, 100% 100%, 0 100%, 23% 91%, 45% 80%, 66% 66%, 79% 46%, 90% 22%);
}

.messages__contacts {
   z-index: 2;
   background-color: rgb(255, 255, 255);
   border-radius: 10px 0 0 10px;
   position: absolute;
   bottom: 0;
   top: 0;
   left: 0;
   display: flex;
   border-right: 1px solid darkgray;
   height: 100%;
   width: 45px;
   overflow: hidden;
   transition-duration: 200ms;
   transition-delay: 0.4s;
}

.messages__contacts:hover {
   width: 150px;
}

.messages__list {
   list-style-type: none;
}

.messages__item {
   box-sizing: border-box;
   padding: 6px;
   width: 100%;
   height: 45px;
   border-bottom: 1px solid darkgray;
   overflow: hidden;
   display: flex;
   align-items: center;
   gap: 6px;
   cursor: pointer;
}

.messages__item:hover {
   background-color: rgb(224, 224, 224);
}

.messages__contact-name {
   width: 105px;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.messages__avatar-wrapper {}

.messages__chat {
   box-sizing: border-box;
   padding: 10px;
   width: calc(100% - 45px);
   margin-left: 45px;
   display: grid;
   grid-template-columns: 1fr;
   gap: 8px;
}

.messages__interlocutor-msg {
   justify-self: start;
   border-radius: 5px 5px 5px 0;
}

.messages__my-msg {
   justify-self: end;
   background-color: rgb(231, 255, 219);
   border-radius: 5px 5px 0 5px;
}

.messages__msg {
   display: inline;
   width: 80%;
   padding: 4px;
   -webkit-box-shadow: 0px 0px 5px 2px rgba(34, 60, 80, 0.2);
   -moz-box-shadow: 0px 0px 5px 2px rgba(34, 60, 80, 0.2);
   box-shadow: 0px 0px 5px 2px rgba(34, 60, 80, 0.2);

}

.messages__msg-text {}

.messages__msg-time {}