<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../styles/reset.css">
    <link rel="stylesheet" href="messages.css">
</head>
<body>
    <div id="messages" class="messages__window">
        <div class="messages__inner-block">
            <div id="dragBtn" class="messages__drag-block">
                .....
            </div>
            <div id="closeBtn" class="messages__close-window">
                <img src="close_black_24dp.svg" alt="">
            </div>
            <div id="resizeBtn" class="messages__resize"></div>


            <div class="messages__contacts">
                <ul class="messages__list">
                    <li class="messages__item">
                        <div class="messages__avatar-wrapper">
                            <img src="../../images/2 2.png" alt="#">
                        </div>
                        <span class="messages__contact-name"> 
                            Stan Borislavov
                        </span>
                    </li>
                    <li class="messages__item">
                        <div class="messages__avatar-wrapper">
                            <img src="../../images/2 2.png" alt="#">
                        </div>
                        <span class="messages__contact-name"> 
                            Stan Borislavov
                        </span>
                    </li>
                    <li class="messages__item">
                        <div class="messages__avatar-wrapper">
                            <img src="../../images/2 2.png" alt="#">
                        </div>
                        <span class="messages__contact-name"> 
                            Stan Borislavov 12e2132312
                        </span>
                    </li>

                </ul>
            </div>
            <div class="messages__chat">
                <div class="messages__msg messages__interlocutor-msg">
                    <span class="messages__msg-text">
                        Привет, как дела?
                    </span>
                    <time datetime="23:00" class="messages__msg-time">
                        12:32
                    </time>
                </div>
                <div class="messages__msg messages__my-msg">
                    <span class="messages__msg-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid perferendis dolorum necessitatibus sed nisi facere?
                    </span>
                    <time datetime="23:00"  class="messages__msg-time">
                        20:41
                    </time>
                </div>
                <div class="messages__msg messages__my-msg">
                    <span class="messages__msg-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid perferendis dolorum necessitatibus sed nisi facere?
                    </span>
                    <time datetime="23:00"  class="messages__msg-time">
                        20:41
                    </time>
                </div>

            </div>
            <div class="messages__input-area">
                <input class="messages__input" type="text">
                <input class="messages__submit" type="submit" value="Отправить">
            </div>
        </div>
        
    </div>

    <script src="messages.js"></script>
</body>
</html>