<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../styles/reset.css">
    <link rel="stylesheet" href="../../css/common_styles.css">
    <link rel="stylesheet" href="contentModeration.css">
    <title>Document</title>
</head>

<body>
    <h1 class="table__name">Статьи требующие проверки</h1>
    <table class="table">
        <thead class="table__head">
            <td>Пользователь</td>
            <td>Статья</td>
            <td>Одобрить</td>
            <td>Отклонить</td>
        </thead>
        <tbody class="table__body">
            <tr>
                <td>Максим</td>
                <td>Влияние витамина D на организм человека</td>
                <td>Одобрить</td>
                <td>Отклонить</td>
            </tr>
        </tbody>
    </table>
</body>

</html>