.profile__articles {
    background-color: #fff;
    margin-bottom: 38px;
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.profile__alternative {
    padding: 18px 0;
    margin: auto;
    text-align: center;
}

.profile__alternative-text {
    font-size: 16px;
    line-height: 1.5rem;
}

.profile__alternative-btn {
    border: none;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .08), inset 0 0 0 1px rgba(0, 0, 0, .06), inset 0 -1px 0 rgba(0, 0, 0, .12), inset 1px 0 0 rgba(0, 0, 0, .06), inset -1px 0 0 rgba(0, 0, 0, .06);
    height: 40px;
    padding: 0 32px;
    margin-top: 20px;
    background-color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.content-wrapper {
    box-sizing: border-box;
    max-width: 640px;
}

/* Малые девайсы («ландшафтные телефоны», >= 576px) */
@media (min-width: 576px) {}

@media (min-width: 640px) {
    .profile__articles {
        padding: 16px;
    }
}

/* Средние девайсы («таблетки», >= 768px) */
@media (min-width: 768px) {}

/* Большие девайсы (десктопы, >= 992px) */
@media (min-width: 992px) {
    .profile__articles {
        padding: 16px;
        border-radius: 10px;
    }
}

/* Экстрабольшие девайсы (большие десктопы, >= 1200px) */
@media (min-width: 1200px) {}