.nav {
    box-sizing: border-box;
    position: relative;
    left: 0;
    height: 100%;
    width: 300px;
    background-color: rebeccapurple;
    padding: 16px 24px;
}
.nav__header {
    font-size: 2rem;
    text-align: center;
    
}
.nav__list {
    margin-top: 26px;
}
.nav__item {
    font-size: 1.5rem;
}