<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../styles/reset.css">
    <link rel="stylesheet" href="../../css/common_styles.css">
    <link rel="stylesheet" href="header.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <h1 class="header__title">Панель администратора</h1>
        <ul class="header__list">
            <li><a href=""><span>Чат</span></a></li>
            <li><a href=""><span>Выход</span></a></li>
        </ul>
    </header>
</body>
</html>