body {
    background-color: #F0F0F0;
}

.nav {
    width: 20%;
    
    box-sizing: border-box;
}

.nav__title {
    color: white;
    background-color: #111111;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5vw;
    line-height: 35px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.nav__ul {
    width: 100%;
    box-sizing: border-box;
}

.nav__li {
    box-sizing: border-box;
    width: 100%;
    display: block;
    padding: 10px 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 1.2vw;
    line-height: 35px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #3D3D3D;
}

.nav__li:hover {
    background-color: #b6b6b6;
}

.content{
    padding: 2%;
    width: 75%;
    border-left: 1px solid #111;
}
.content__title{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #111111;
}
.content_row{
    justify-content: space-between;
    margin-bottom: 30px;
}




/*  <section class="main">
        <div class="container">
            <div class="row">
                <h2 class="main__title">Добавление администратора</h2>
            </div>
            <hr>
            <div class="row">
                <form class="form" method="post" action="">
                    <div class="form__block">
                        <label class="form__label" for="">Имя</label>
                        <input name="input_name" type="text" class="form__input">
                    </div>
                    <div class="form__block">
                        <label class="form__label" for="">Логин</label>
                        <input name="input_login" type="password" class="form__input">
                    </div>
                    <div class="form__block">
                        <label class="form__label" for="">Пароль</label>
                        <input name="input_pass" type="password" class="form__input">
                    </div>
                    <div class="form__block">
                        <input name="submit_enter" type="submit" class="btn" value="Добавить">
                    </div>
                </form>
            </div>
        </div>

    </section> */


.form {
    margin: 30px 0 60px;
    width: 33%;
    justify-content: center;
}
.form__block {
    margin-bottom: 20px;
}
.form__label {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #111111;
    margin-bottom: 10px;
}
.form__input {
    width: 100%;
    height: 30px;
}
.form__input_textarea{
    height: 200px;
}

.form__select {
    width: 100%;
    height: 30px;
}
.form__option{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #111111;
    margin-bottom: 10px;
}
.btn {
    background-color: #111111;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer
}
.btn_marginBottom10{
    margin-bottom: 10px;
}
.form__img {
    width: 300px;

}



.main {
}
.main__row{
    flex-direction: column;
}
.main__title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 100%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #111111;
    margin: 20px 0;
}





/*                      <div class="card__border">
                            <p class="card__title"><?= $response['name'] ?></p>
                            <ul>
                                <li class="card__item"><a href="admin-edit.php?id=<?= $response['id'] ?>" class="card__link">Править</a></li>
                                <li class="card__item"><a href="delete/delete-admin.php?id=<?= $response['id'] ?>" class="card__link">Удалить</a></li>
                            </ul>
                        </div> */


.card__rows{
    display: flex;
    justify-content: flex-start;
    margin: auto;
}

.card {
    background-color: #fff;
    box-shadow: 0px 6.45px 13px rgba(41, 41, 41, 0.08);
    border-radius: 15px;
    padding: 20px;
    width: 27%;
    margin: 10px 1%;
}

.card__img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.card__title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #111111;
    margin: 20px 0;
}
.card__date{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #111111;
    margin: 20px 0;
}
.card__item {
    display: inline-block;
    margin-right: 10px;
}
.card__link {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #111111;
}
