








/* 
/* Малые девайсы («ландшафтные телефоны», >= 576px) 
@media (min-width: 576px) {
    .preview__time {
        display: block;
    }

}

@media (min-width: 640px) {
    .article__preview {
        border-radius: 10px;
    }

    .content-block {
        border-radius: 10px;
    }

    .author-name {
        display: block;
    }
}

/* Средние девайсы («таблетки», >= 768px) 
@media (min-width: 768px) {
    .author-name {
        display: block;
    }
}

/* Большие девайсы (десктопы, >= 992px) 
@media (min-width: 992px) {
    .main {
        display: grid;
        grid-template-columns: 220px 1fr 320px;
    }

    .content-block {
        padding: 16px 20px;
    }

    .content_main-page {
        max-width: 640px;
    }
}

/* Экстрабольшие девайсы (большие десктопы, >= 1200px) 
@media (min-width: 1200px) {} */