body {
    font-family: roboto,  sans-serif;
        background-color: #f0f0f0;
}

.flex-row{
    display: flex;
}
.middle-content {
    display: grid;
    grid-template-columns: 220px 1fr 320px;
    margin-top: 60px;

}

.content-wrapper {
    background-color: #fff;
    padding: 16px 0;
    box-shadow: 0px 1px 5px 0px rgba(34, 60, 80, 0.5);
}

.link {
    display: unset;
    color: unset;
}

.btn {
    cursor: pointer;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 1px 5px 0px rgba(34, 60, 80, 0.5);
}

.user-avatar_circle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
}

.user-avatar_rectangle {
    height: 30px;
    width: 30px;
    border-radius: 4px;
    overflow: hidden;
}

.topic-avatar_rectangle {
    height: 24px;
    width: 24px;
    border-radius: 3px;
    overflow: hidden;
}

.img__wrapper {
    height: 50px;
    width: 50px;
}

.img__cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.img__contain {
    height: 100%;
    width: 100%;
    object-fit: contain;
}



.content-block {
    /* основной блок в который помещают контент */
    background-color: #fff;
    padding: 16px;
    margin-bottom: 15px;
}



.content-block__h2 {
    font-size: 1.5rem;
    font-weight: bolder;
    margin: 8px 0 12px;
}

.content-block__p {
    margin-top: 8px;
    line-height: 24px;
}

.content-block__p_blue {
    color: #3B65AB;
}

.content-block__p_blue:hover {
    color: #06f;
}




.content-block__block-title {
    font-weight: bold;
    display: block;
    margin: 12px 0;
}



.display_none {
    display: none;
}

.item {
    /* элемент списка */
    height: 36px;
    padding: 17px 0;
    display: grid;
    grid-template-columns: 1fr auto;
}

.item__block {
    display: flex;
    align-items: center;
}

.item__block:hover {
    color: #06f;
}

.item__avatar {
    height: 100%;
    width: 36px;
    margin-right: 12px;
}

.item__name {
    font-weight: 600;
}

.item__btn {
    border: #cccccc 1px solid;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 1px rgba(34, 60, 80, 0.1);
    height: 34px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.item__btn-text {
    font-size: 16px;
    font-family: Roboto;
}



.text-block {
    display: flex;
    align-items: center;
}



.material-icons {
    cursor: pointer;
}

.content {
    width: 100%;
    margin: auto;
    /* position: relative; */
    margin: 8px 0;

}

.content_bgc {
    background-color: #fff;
}

.content_main-page {
    width: 100%;
}

/* Малые девайсы («ландшафтные телефоны», >= 576px) */
@media (min-width: 576px) {

}

@media (min-width: 641px) {
    .content-wrapper {
        border-radius: 10px;
        padding: 16px;
    }
}

/* Средние девайсы («таблетки», >= 768px) */
@media (min-width: 768px) {
   
}

/* Большие девайсы (десктопы, >= 992px) */
@media (min-width: 992px) {

}

/* Экстрабольшие девайсы (большие десктопы, >= 1200px) */
@media (min-width: 1200px) {
    
}