<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../styles/reset.css">

    <link rel="stylesheet" href="../../css/common_styles.css">

    <link rel="stylesheet" href="adminsList.css">
    <title>Document</title>
</head>

<body>
    <h1 class="table__name">список администраторов</h1>
    <table class="table">
        <thead class="table__head">
            <td>Имя</td>
            <td>Модерация контента</td>
            <td>Управление пользоваелями</td>
            <td>Управление администраторами</td>
            <td>Забанить</td>
            <td>Удалить</td>
        </thead>
        <tbody class="table__body">
            <tr>
                <td>Максим</td>
                <td>Модерация контента</td>
                <td>Управление пользоваелями</td>
                <td>Управление администраторами</td>
                <td>Забанить</td>
                <td>Удалить</td>
            </tr>
        </tbody>
    </table>
</body>

</html>